@import 'https://fonts.googleapis.com/css?family=Raleway';
body{
    min-height:100vh;
    padding:2rem;
    display:grid;
    place-items:center;
    background-color: black;
}

.banner {
    width: 75%;
}

html {
    font-size:15px;
}


/* FONT STYLE*/
@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

.sign {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #2f4550,
    transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #586f7c,
    -0.2rem 0.1rem 1rem #b8dbd9, 0.2rem 0.1rem 1rem #586f7c,
    0 -0.5rem 2rem #586f7c, 0 0.5rem 3rem #586f7c;
    animation: shine 2s forwards, flicker 3s infinite;
    margin-top: 50px; /* Adjust the value to set the desired space from the top */
}

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #b8dbd9,
        -0.2rem 0.1rem 1rem #b8dbd9, 0.2rem 0.1rem 1rem #b8dbd9,
        0 -0.5rem 2rem #586f7c, 0 0.5rem 3rem #586f7c;
    }
    28%,
    33% {
    color: #b8dbd9;
    text-shadow: none;
    }
    82%,
    97% {
    color: #586f7c;
    text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
    0% {
    color: #6b1839;
    text-shadow: none;
    }
    100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #b8dbd9,
    -0.2rem 0.1rem 1rem #b8dbd9, 0.2rem 0.1rem 1rem #b8dbd9,
    0 -0.5rem 2rem #586f7c, 0 0.5rem 3rem #586f7c;
    }
}

@keyframes flicker {
    from {
    opacity: 1;
    }

    4% {
    opacity: 0.9;
    }

    6% {
    opacity: 0.85;
    }

    8% {
    opacity: 0.95;
    }

    10% {
    opacity: 0.9;
    }

    11% {
    opacity: 0.922;
    }

    12% {
    opacity: 0.9;
    }

    14% {
    opacity: 0.95;
    }

    16% {
    opacity: 0.98;
    }

    17% {
    opacity: 0.9;
    }

    19% {
    opacity: 0.93;
    }

    20% {
    opacity: 0.99;
    }

    24% {
    opacity: 1;
    }

    26% {
    opacity: 0.94;
    }

    28% {
    opacity: 0.98;
    }

    37% {
    opacity: 0.93;
    }

    38% {
    opacity: 0.5;
    }

    39% {
    opacity: 0.96;
    }

    42% {
    opacity: 1;
    }

    44% {
    opacity: 0.97;
    }

    46% {
    opacity: 0.94;
    }

    56% {
    opacity: 0.9;
    }

    58% {
    opacity: 0.9;
    }

    60% {
    opacity: 0.99;
    }

    68% {
    opacity: 1;
    }

    70% {
    opacity: 0.9;
    }

    72% {
    opacity: 0.95;
    }

    93% {
    opacity: 0.93;
    }

    95% {
    opacity: 0.95;
    }

    97% {
    opacity: 0.93;
    }

    to {
    opacity: 1;
    }
}

/*--------------------------------
            NAV SECTION
--------------------------------*/
div.container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 2em 3em;
	text-align: center;
}

div.container a
{
    color: #b8dbd9;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}



/* Border from Y to X  */
div.borderYtoX a:before, div.borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #f4f4f9;
    transition: all 0.3s;
}

div.borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

div.borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}
/*------------------------------------
            HOME SECTION
-------------------------------------*/
main {
	margin: 0 auto;
	padding: .875em .5em;
	max-width: 32em;
	font: 1.25em/ 1.375 segoe script, comic sans ms, cursive;
	
	* + * { margin-top: 1.375em }
}

.banner {
	margin-left: calc(50% - 50vw);
	width: 100vw; height: 62.5vmin;
	min-height: 15em;
	background: linear-gradient(#000, transparent, #000), 
		var(--img) 50%/ cover;
	background-attachment: fixed;
	background-blend-mode: multiply;
	
	&:nth-of-type(1) {
		--img: url(https://images.unsplash.com/photo-1476097297040-79e9e1603142?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
	}

    &:nth-of-type(2) {
		--img: url(https://images.unsplash.com/photo-1530915493757-0677252ffeee?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ)
	}
	
	&:nth-of-type(3) {
		--img: url(https://images.unsplash.com/photo-1495147466023-ac5c588e2e94?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ)
	}
	
	
	
	&:nth-of-type(4) {
		--img: url(https://images.unsplash.com/photo-1525124541374-b7eaf79d0dbf?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ)
	}
}
/*------------------------------------
            ABOUT SECTION
-------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: calc(5px + 0.4vw);
}
a {
	text-decoration: none;
}
.about-intro {
	position: relative;
	width: 100%;
	height: 100vh;
}
.about-left {
	float: left;
	height: 100%;
	width: 60%;
	padding: 3rem 3rem 3rem 5rem;
	display: table;
}
.about-left > div {
	display: table-cell;
	vertical-align: middle;
}

.about-left span {
    color: #586f7c;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    display: inline-block;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-bottom: 4rem;
}
.about-left h1 {
	font-size: 8rem;
	margin-bottom: 3rem;
}
.about-left h1 + p {
    color: #f4f4f9;
    font-size: 1.6rem;
    margin-bottom: 4rem;
}
.about-left h1 {
    color: #b8dbd9;
}
.about-left p + a {
    font-size: 1.6rem;
    color: #000;
}
.about-slider {
	float: right;
	position: relative;
	width: 40%;
	height: 100%;
}
.about-slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: clip .7s ease-in-out, z-index 0s .7s;
	clip: rect(0, 100vw, 100vh, 100vw);
	display: table;
}
.center-y {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff;
}


li.current {
	z-index: 1;
	clip: rect(0, 100vw, 100vh, 0);
}
li.prev {
	clip: rect(0, 0, 100vh, 0);
}
.about-slider nav {
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
.about-slider nav a {
	display: inline-block;
	border-radius: 50%;
	width: 1.2rem;
	height: 1.2rem;
    min-width: 12px;
    min-height: 12px;
	background: #fff;
	margin: 0 1rem;
    transition: transform .3s;
}
a.current_dot {
	transform: scale(1.4);
}
@media screen and (max-width: 700px) {
	.about-left {
		width: 100%;
		height: 30%;
	}
	.about-slider {
		width: 100%;
		height: 70%;
	}
}
/*------------------------------------
EDUCATION & WORK EXPERIENCE SECTION
------------------------------------*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
.experience-container{
    max-width:1000px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.experience-card{
    min-height:200px;
    width:260px;
    margin:70px 70px;
    padding:1rem;
    cursor:pointer;
    background-color:#f4f4f9;
}
.experience-card img{
    width:100%;
    height:180px;
    border-radius:10px;
    position:relative;
    z-index:1000;
    transition:all .5s ease-in-out;
}
.experience-card__content{
    margin:1rem 0;
    color:#222;
    overflow:hidden;
    margin-top:-200px;
    opacity:0;
    visibility:hidden;
    transition:all .5s ease-in-out;
}
.experience-card__content h2 {
    margin:.6rem auto;
    text-align:center;
    color: #000000;
}
.experience-card__content h3{
    margin:.6rem auto;
    text-align:center;
    color: #586f7c;
}
.experience-card__content p{
    font-size:1.1rem;
    line-height:1.8rem;
    text-align:center;
    color: #2f4550;
}
.experience-card__content a{
    width:200px;
    padding:10px 15px;
    display:block;
    text-align:center;
    margin:.6rem auto;
    font-size:1.5rem;
    color:#000000;
    text-decoration:none;
    background-color:#2f4550;
    border-radius:10px;
    transition:.3s;
}
.experience-card__content a:hover{
    color:#f4f4f9;
    background-color:#586f7c;
    box-shadow:0 0 2px 2px rgba(0,0,0,0.4);
}
.experience-card:hover img{
    margin-top:-60px;
    box-shadow:0 0 4px 6px rgba(0,0,0,0.3);
}
.experience-card:hover>.experience-card__content{
    margin-top:0;
    opacity:1;
    visibility:visible;
}
@media screen and (max-width:800px){
.experience-container{
    flex-wrap:wrap;
    }
}

/*---------------------------
        GALLERY SECTION
---------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
  /* Colors */
    --brand-color: #b8dbd9;
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    /* Fonts */
    --font-title: "Montserrat", sans-serif;
    --font-text: "Lato", sans-serif;
    }

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}


.row {
    display:flex;
    flex: repeat(auto-fit, minmax(21.875rem, 1fr)); /* Adjust the column width as needed */
    grid-gap: 7rem; /* Adjust the desired space between the cards */
}

/* CARD COMPONENT */

.gallery-card {
    display: grid;
    place-items: center;
    width: 80vw;
    max-width: 21.875rem;
    height: 28.125rem;
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.gallery-card > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.gallery-card__background {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gallery-card__content {
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height: 55%;
    padding: 12% 1.25rem 1.875rem;
    background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
    );
}

.gallery-card__content--container {
    --flow-space: 1.25rem;
}

.gallery-card__title {
    position: relative;
    width: fit-content;
    width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.gallery-card__title::after {
    content: "";
    position: absolute;
    height: 0.3125rem;
    width: calc(100% + 1.25rem);
    bottom: calc((1.25rem - 0.5rem) * -1);
    left: -1.25rem;
    background-color: var(--brand-color);
}

.gallery-card__button {
    padding: 0.75em 1.6em;
    width: fit-content;
    width: -moz-fit-content; /* Prefijo necesario para Firefox  */
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 0.45em;
    border: none;
    background-color: var(--brand-color);
    font-family: var(--font-title);
    font-size: 1.125rem;
    color: var(--black);
}

.gallery-card__button:focus {
    outline: 2px solid black;
    outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
    .gallery-card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
    }

    .gallery-card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
    }

    .gallery-card__background {
    transition: transform 500ms ease-in;
    }

    .gallery-card__content--container > :not(.gallery-card__title),
    .gallery-card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
    }

    .gallery-card:hover,
    .gallery-card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
    }

    .gallery-card:hover .gallery-card__content,
    .gallery-card:focus-within .gallery-card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
    }

    .gallery-card:focus-within .gallery-card__content {
    transition-duration: 0ms;
    }

    .gallery-card:hover .gallery-card__background,
    .gallery-card:focus-within .gallery-card__background {
    transform: scale(1.3);
    }

    .gallery-card:hover .gallery-card__content--container > :not(.gallery-card__title),
    .gallery-card:hover .gallery-card__button,
    .gallery-card:focus-within .gallery-card__content--container > :not(.gallery-card__title),
    .gallery-card:focus-within .gallery-card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
    }

    .gallery-card:hover .gallery-card__title::after,
    .gallery-card:focus-within .gallery-card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
    }
}


/*----------------------------------
        RICIPES SECTION
-----------------------------------*/
  *,
  *::before,
  *::after {
    box-sizing: border-box;
}

.recipe-main {
    max-width: 1200px;
    margin: 0 auto;
}

.recipe-cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.recipe-cards_item {
    display: flex;
    padding: 1rem;
}

.recipe-card_image {
    position: relative;
    max-height: 250px;
}

.recipe-card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.recipe-card_price span {
    font-size: 12px;
    margin-top: -2px;
}

.recipe-note {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 8px;
    border-radius: 0.25rem;
    background-color: #2f4550;
    font-size: 14px;
    font-weight: 700;
}

@media (min-width: 40rem) {
    .recipe-cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .recipe-cards_item {
        width: 33.3333%;
    }
}

.recipe-card {
    background-color: #586f7c;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.recipe-card_content {
    position: relative;
    padding: 16px 12px 32px 24px;
    margin: 16px 8px 8px 0;
    max-height: 290px;
    overflow-y: scroll;
}

.recipe-card_content::-webkit-scrollbar {
    width: 8px;
}

.recipe-card_content::-webkit-scrollbar-track {
    box-shadow: 0;
    border-radius: 0;
}

.recipe-card_content::-webkit-scrollbar-thumb {
    background: #2f4550;
    border-radius: 15px;
}

.recipe-card_title {
    position: relative;
    margin: 0 0 24px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.recipe-card_title::after {
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #586f7c;
    content: "";
}

hr {
    margin: 24px auto;
    width: 50px;
    border-top: 2px solid #f4f4f9;
}

.recipe-card_text p {
    margin: 0 0 24px;
    font-size: 14px;
    line-height: 1.5;
    color: #f4f4f9;
}

.recipe-card_text p:last-child {
    margin: 0;
}

/*----------------------------------------
            CONTACT ME SECTION
----------------------------------------*/
#contact {
    width: 100%;
    height: 100%;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
}

    /* Left contact page */
.form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
}

.form-control, 
    textarea {
    max-width: 400px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
}

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
}

.alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
}

  /* Begin Right Contact Page */
.direct-contact-container {
    max-width: 400px;
}

  /* Location, Phone, Email Section */
.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #aaa;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #fff;
    text-decoration: none;
}


  /* Social Media Icons */
.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: #fff;
}

.social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
}

.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.social-media-list li:hover {
    background-color: #fff; 
}

.social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
    color: #000;
}

.copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
}

hr {
    border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
        margin: 0 auto;
    }  
    
    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }    
    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 569px) {

    .direct-contact-container, .form-wrapper {
        float: none;
        margin: 0 auto;
    }  
    .form-control, textarea {
    
        margin: 0 auto;
    }


    .name, .email, textarea {
        width: 280px;
    } 
    
    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }  
    .social-media-list {
        left: 0;
    }
    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }
    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
    
}

@media screen and (max-width: 410px) {
    .send-button {
        width: 99%;
    }
}
/*-----------------------
    AWARDS SECTION
-----------------------*/

.carousel {
    width: 100%;
    overflow-x: hidden;
    padding: 30px;
    padding-top: 80px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel__container {
    white-space: nowrap;
    margin: 30px 0px;
    padding-bottom: 10px;
    display: inline-block;
}

.categories__title {
    color: rgb(77, 55, 102);
    font-size: 28px;
    position: absolute;
    padding-left: 30px;
}

.carousel-item {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: #95bcd6;
    overflow: hidden;
    margin-right: 10px;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 1000ms all;
    transition: 1000ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    position: relative;
}

.carousel-item:hover ~ .carousel-item {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img {
    width: 200px;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
}

.carousel-item__details {
    background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.9)),
    to(rgba(0, 0, 0, 0))
    );
    background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
    );
    font-size: 10px;
    opacity: 0;
    -webkit-transition: 450ms opacity;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-item__details:hover {
    opacity: 1;
}

.carousel-item__details span {
    /* width: 10px;
    height: 10px; */
    font-size: 0.9rem;
    color: #2ecc71;
    /* background-color: white; */
}

.carousel-item__details .controls {
    padding-top: 180px;
}

.carousel-item__details .carousel-item__details--title,
.carousel-item__details--subtitle {
    color: #fff;
    margin: 5px 0;
}

/*------------------------------------------
            SOCIAL MEDIA
------------------------------------------*/
