/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  color: #444444;
  background-color: #000000;
}

a {
  text-decoration: none;
  color: #9580a1;
}

a:hover {
  color: #ffc56e;
  text-decoration: none;
}

.social-other ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-other ul li {
  display: inline-block;
  margin-right: 2px; /* Adjust as needed */
}

.social-other ul li:last-child {
  margin-right: 0;
}

.social-other ul li a {
  font-size: 18px;
  display: inline-block;
  background: #2a2a2a;
  color: #fff;
  line-height: 40px; /* Center vertically */
  padding: 0; /* Remove padding */
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.social-other ul li a i {
  line-height: 40px; /* Center vertically */
}

.social-other ul li a:hover {
  background: #4E93BD;
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satisfy", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #8faf9e;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #9580a1;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  padding: 0;
  font-size: 15px;
  height: 50px;
  transition: all 0.5s;
  background: rgba(26, 24, 22, 0.8);
  z-index: 996;
  color: rgba(255, 255, 255, 0.7);
}

#topbar.topbar-transparent {
  background: transparent;
}

#topbar.topbar-scrolled {
  top: -50px;
}

#topbar i {
  color: #ffb03b;
  line-height: 0;
}

#topbar i span {
  color: #fff;
  font-style: normal;
  padding-left: 5px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  top: 50px;
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  background: rgba(26, 24, 22, 0.85);
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  top: 0;
  background: rgba(26, 24, 22, 0.85);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #79ba44;
  text-decoration: none;
  font-family: "Satisfy", sans-serif;

}

#header .logo img {
  padding: 0;
  margin: 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 28px;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 24px;
  font-size: 15px;
  font-weight: 500;
  color: #8faf9e;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #79ba44;
}

.navbar ul {
  font-size: 32px; /* Adjust the font size as needed */
}

.navbar a {
  padding: 10px 0 10px 24px;
  font-size: 22px; /* Adjust the font size as needed */
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #8faf9e;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(39, 37, 34, 0.9);
  transition: 0.3s;
  z-index: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #9580a1;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #433f39;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #79ba44;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #ffb03b;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(39, 37, 34, 0.8);
  overflow: hidden;
  padding: 0;
}

#hero .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(12, 11, 10, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-content {
  text-align: center;
}

#hero h2 {
  color: #8faf9e;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero h2 span {
  color: #9580a1;
}

#hero p {
  width: 80%;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  transition: 0.3s;
  color: #8faf9e;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #9580a1;
}

#hero .carousel-indicators li {
  cursor: pointer;
  list-style-type: none;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 50%;
  }

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #5f5950;
}

.section-title h2 span {
  color: #ffb03b;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 300;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  margin: 0;
  padding: 0;
}
.about-section {
  background: url(../img/00.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.about-section::before {
  content: "";
  background-color: rgba(12, 11, 10, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.about-section .section-title h2 {
  color: #fff;
}

.about-section .container {
  position: relative;
}

@media (min-width: 1024px) {
  .about-section {
    background-attachment: fixed;
  }
}

.about-section .about-section-carousel {
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
}

.about-section .about-section-item {
  color: #fff;
}

.about-section .about-section-item img {
  height: 600px;
  width: auto;
  justify-content: cover;
  align-content: center;
}

.about-section .about-section-item h3 {
  font-weight: 600;
  font-size: 50px;
  color: #9580a1;
}

.about-section .about-section-item p {
  height: 600px;
  width: 100%;
  font-size: 18px;
  color: #fff;
}
.about-section .about-section-item p:last-child {
  margin-bottom: 0;
}

.about-section .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.about-section .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.about-section .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #9580a1;
}


/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
#gallery {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

#gallery .video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Set the video width to 100% of the parent container */
  height: 100%; /* Set the video height to 100% of the parent container */
  object-fit: cover;
  z-index: -1; /* Behind other elements */
  filter: blur(10px); /* Apply a blur effect with a 5px radius */
}

#gallery .container-fluid {
  position: relative;
  z-index: 1; /* Ensure that cards are on top of the video */
  padding: 0; /* Remove default padding */
}
#gallery img {
  width: 250px;
  height: auto;
}

#gallery h1 {
  font-size: 40px;
  font-weight: 500;
  margin-top: 0; 
}

#gallery h2 {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #79ba44;
}

#gallery p {
  color: whitesmoke;
  font-size: 15px;
  margin: 0;
  padding: 0;
}


#gallery button {
  background-color: #D7CFE6;
  color: #896ABC;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #896ABC;
}

#gallery a:hover {
  color: red;
}

/* Adjust video size for smaller screens */
@media (max-width: 768px) {

  #gallery h1 {
    font-size: 20px; /* Reduce font size for heading on smaller screens */
    margin-top: 0; /* Remove margin at the top */
  }

  #gallery h2 {
    font-size: 18px; /* Reduce font size for article titles on smaller screens */
  }

  #gallery p {
    font-size: 14px; /* Reduce font size for article descriptions on smaller screens */
  }
}

/*--------------------------------------------------------------
# Work Experience
--------------------------------------------------------------*/
.wrapper {
  margin-top: 100px;
  max-width: 700px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.work-card {
  top: 30px;
  position: sticky;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: #333;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 20px;

  h2 {
    padding: 0;
  }
  span {
    display: block;
    font-size: 14px;
    color: #0c4eb9;
  }
}

@for $i from 1 through 8 {
  .work-card:nth-child(#{$i}n) {
    top: $i * 20px;
  }
}










.section-title h2 {
  color: #79ba44;
  }
  
  .Work {
    padding: 0;
    margin: 0;
  }
  
  .Work .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    height: 280px;
    background-color: #535c6a;
    cursor: pointer;
  }
  
  .Work .box h2 {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #79ba44;
  }
  
  .Work .box h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #de8b8c;
  }
  
  .Work .box p {
    color: whitesmoke;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  
  .Work .box:hover {
    background: #8faf9e;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
  }
  .Work .box:hover  h2{
    color: #535c6a;
  }
  
  .Work .box:hover  h4{
    color: #9580a1;
  }
  
  .Work .box:hover span,
  .Work .box:hover p {
    color: #fff;
  }
  

/*----------------------------------------------
#Contact
----------------------------------------------*/
#contact {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#contact .container-fluid {
  position: relative;
  z-index: 1; /* Ensure that cards are on top of the video */
  padding: 0; /* Remove default padding */
}

#contact .video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Set the video width to 100% of the parent container */
  height: 100%; /* Set the video height to 100% of the parent container */
  object-fit: cover;
  z-index: -1; /* Behind other elements */
  filter: blur(10px); /* Apply a blur effect with a 5px radius */
}

#contact h1{
  font-size: 40px;
  font-weight: 500;

}
/* Adjust video size for smaller screens */
@media (max-width: 768px) {
  #contact .video-bg {
      object-fit: contain;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #000000;
  color: #9580a1;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #46423b;
  color: #9580a1;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #8faf9e;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

/*----------------------------------------------------
#Gallery Page
----------------------------------------------------*/
*, p, h2, form, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#pastry h1, #cake h1, #bakery h1 {
  font-family: Satisfy, sans-serif;
  color: #79ba44;
}

img {
  max-width: 100%;
  height: auto;
  transition: transform 0.2s ease-in-out;
  object-fit: cover;
}

.tag {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0afdd8;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 0 0 15px 0;
  z-index: 9999;
}

.tag a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.tag img {
  width: 30px;
  height: 30px;
}

.main {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.box {
  flex: 0 1 calc(33.33% - 20px);
  margin-bottom: 15px;
  height: 300px; /* Adjust the height as per your preference */
  overflow: hidden;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box:hover img {
  transform: scale(1.03);
}

@media (min-width: 768px) {
  .box {
    flex: 0 1 calc(50% - 20px);
  }
}

@media (min-width: 1024px) {
  .box {
    flex: 0 1 calc(25% - 20px);
  }
}

@media (min-width: 1440px) {
  .box {
    flex: 0 1 calc(16.666% - 20px);
  }
}
