/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #0a0908;
  
}

a {
  text-decoration: none;
  color: #0a0908;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

/*
  SOcial Links
*/

.social-other ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-other ul li {
  display: inline-block;
  margin-right: 2px; /* Adjust as needed */
}

.social-other ul li:last-child {
  margin-right: 0;
}

.social-other ul li a {
  font-size: 18px;
  display: inline-block;
  background: #0a0908;
  color: #fff;
  line-height: 40px; /* Center vertically */
  padding: 0; /* Remove padding */
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.social-other ul li a i {
  line-height: 40px; /* Center vertically */
}

.social-other ul li a:hover {
  background: #fff;
  color: #0a0908;
  text-decoration: none;
}

/*
#Gallery SOcial Links
*/
.gallery-social-other ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-social-other ul li {
  display: inline-block;
  margin-right: 2px; /* Adjust as needed */
}

.gallery-social-other ul li:last-child {
  margin-right: 0;
}

.gallery-social-other ul li a {
  font-size: 18px;
  display: inline-block;
  background: rgb(219,179,63, 100);
  color: #fff;
  line-height: 40px; /* Center vertically */
  padding: 0; /* Remove padding */
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.gallery-social-other ul li a i {
  line-height: 40px; /* Center vertically */
}

.gallery-social-other ul li a:hover {
  background: #fff;
  color: #0a0908;
  text-decoration: none;
}






h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satisfy", sans-serif;
}


h3 {
  font-weight: 600;
  font-size: 50px;
}

p {
  color: #fff;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0a0908;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: rgb(219,179,63, 100);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  padding: 0;
  font-size: 15px;
  height: 50px;
  transition: all 0.5s;
  background: rgba(26, 24, 22, 0.8);
  z-index: 996;
  color: rgba(255, 255, 255, 0.7);
}

#topbar.topbar-transparent {
  background: transparent;
}

#topbar.topbar-scrolled {
  top: -50px;
}

#topbar i {
  color: #ffb03b;
  line-height: 0;
}

#topbar i span {
  color: #fff;
  font-style: normal;
  padding-left: 5px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  top: 50px;
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  background: rgba(26, 24, 22, 0.85);
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  top: 0;
  background: rgba(26, 24, 22, 0.85);
}

#header .logo h1 {
  font-size: 35px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: rgb(219,179,63, 100);
  text-decoration: none;
  font-family: "Satisfy", sans-serif;

}

#header .logo img {
  padding: 0;
  margin: 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 28px;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 24px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(219,179,63, 100);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar ul {
  font-size: 32px; /* Adjust the font size as needed */
}

.navbar a {
  padding: 10px 0 10px 24px;
  font-size: 22px; /* Adjust the font size as needed */
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #8faf9e;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(39, 37, 34, 0.9);
  transition: 0.3s;
  z-index: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #9580a1;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #433f39;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #79ba44;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #ffb03b;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.section-title {
  text-align: center;
}

.section-title h2 span {
  color: #ffb03b;
}


@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

/*---------------------------------
  video section
---------------------------------*/
.video {
  position: relative;
  height: 250px; /* 100% of the viewport height */
  width: 100%; /* 100% of the viewport width */
  overflow: hidden; /* Hide overflow content */
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the video element */
  object-position: center; /* Center the video element */
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  background: rgb(225,214,199);
background: linear-gradient(180deg, rgba(225,214,199,1) 0%, rgba(10,9,8,1) 50%);
  margin: 0;
  padding: 0;
  height: 100%;
}
.about-section {
  background: url(../img/00.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.about-section::before {
  content: "";
  
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.about-section .section-title h2 {
  color: #fff;
}

.about-section .container {
  position: relative;
}

@media (min-width: 1024px) {
  .about-section {
    background-attachment: fixed;
  }
}

.about-section .about-section-carousel {
  background: rgba(255, 255, 255, 0.08);
  
}

.about-section .about-section-item {
  color: #fff;
}

.about-section .about-section-item img {
  height: 410px;
  width: 300px;
  display: block; /* Makes the image a block element */
  margin: auto; /* Automatically centers the image horizontally */
  position: relative; /* Allows for absolute positioning */
  top: 50%; /* Moves the image down by 50% of its height */
  transform: translateY(-50%); /* Corrects the position of the image */
}

.about-section .about-section-item h1 {
  font-weight: 600;
  font-size: 45px;
  color: #0a0908;
  text-transform: uppercase;
}

.about-section .about-section-item p {
  height: 60%;
  width: 100%;
  font-size: 18px;
  color: #fff;
}
.about-section .about-section-item p:last-child {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

/* Defining the theme for the card: colors, fonts, spacing. 
This uses CSS variables - so you only have to change the colors in one place */ 
:root {

  /* Message area colors */ 
  --message-bg: #F1EDE9;
  --message-line: #94ACD4;
  --message-txt: #333333;

  /* Fonts */ 
  --font-banner: 'Abril Fatface', cursive;
  --font-text: 'Shadows Into Light', cursive;


}

#gallery {
  background-color: #0a0908;
  padding: 0;
  margin: 0;
}

#gallery h1 {
  font-family: "Satisfy", sans-serif;
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(219,179,63, 100);
}

.bday-card {
  max-width: 420px;
  height: 100%;
  padding-top: var(--space-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.bday-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 240px;
  padding: var(--space-sm) var(--space-sm) var(--space-xlg);
  background: white;
  border-radius: 4px;
  box-shadow: var(--space-xsm) var(--space-xsm) 15px rgba(0,0,0, .15);

  /* Edit the Translate property below to adjust the position of your picture */ 
  transform: rotate(5deg) translate(20px, 45px);
}

.bday-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bday-decor--container {
  position: relative;
}

.bday-banner {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 42px;
  z-index: 1;

  /* Play around with those properties to change your banner styling */ 
  color: var(--banner-txt);
  font-family: var(--font-banner);
  text-transform: uppercase;
  transform: rotate(-5deg);
  gap: var(--space-sm) 0;
}

.bday-banner span {
  padding: var(--space) var(--space-lg);
  flex-grow: 0;
  color: #fff;
  font-family: "Satisfy", sans-serif;
  cursor: pointer;
}

.bday-banner span:hover {
  color: rgb(219,179,63);
}

.bday-banner span:nth-child(2) {
  margin-left: var(--space-lg);
}


/* Animations */ 

/* Here we designate an specific animation to an specific element using a class. We have a defined name, time and iteration-count for each animation. We can also define the origin point from which the animation will happen - the default is the center. */  
.zoom-left-in-out {
  animation-name: zoom-left-in-out;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
  transform-origin: left bottom;
}

/* Here we specify what will change on the element when they animate */ 
@keyframes zoom-left-in-out {
  /* Animation will start and end with the same settings */ 
  0%, 100% {
    transform: scale(0.95) rotate(2deg);
  }

  /* Animation will reach those settings 50% into the duration time we set on the declaration */
  50% {
    transform: scale(1) rotate(-2deg);
  }
}

/* pulse */ 
.pulse {
  animation-name: pulse;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }
}
/* pulse - End */

/* float */ 
.float {
  animation-name: float;
  animation-duration: 1.9s;
  animation-iteration-count: infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}
/* float - End */

/* spin */ 
.spin {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/* spin - End */





/*--------------------------------------------------------------
# Work Experience
--------------------------------------------------------------*/
.work-container{
  background: #0a0908;
  padding: 0;
  margin: 0;
}
h1 {
  color: rgb(219,179,63);
}
.work-card {
  width: 350px;
  top: 30px;
  position: sticky;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(225,214,199);
  color: #333;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 20px;

  h2 {
    padding: 0;
    color: #0a0908;
  }
  h4 {
    padding: 0;
    color: red;
  }
  p {
    padding: 0;
    color: #fff;
  }
  span {
    display: block;
    font-size: 23px;
    color: #fff;
  }
}


b {
  color: #0a0908;
}


@for $i from 1 through 8 {
  .work-card:nth-child(#{$i}n) {
    top: $i * 20px;
  }
}

/*----------------------------------------------
#Contact
----------------------------------------------*/
#contact {
  background: rgb(225,214,199);
background: linear-gradient(0deg, rgba(225,214,199,1) 0%, rgba(10,9,8,1) 50%);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#contact h1{
  font-size: 40px;
  font-weight: 500;
  color: rgb(219,179,63);

}
/* Adjust video size for smaller screens */
@media (max-width: 768px) {
  #contact .video-bg {
      object-fit: contain;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background:  #E1D6C7;
  color: #0a0908;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

/*----------------------------------------------------
#Gallery Page
----------------------------------------------------*/
#gallery-page {
  background-color: #0a0908;
}
#gallery-page ul {
  display: flex;
  width: calc(80% -);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#gallery-page li {
  padding: 0;
  width: 100%; /* This will make each list item take up the full width of its container */
}

#gallery-page img {
  height: 250px;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.2s ease;
  flex-grow: 1; /* This will make the images fill the available space */
}


#gallery-page ul:is(:hover, :focus-within) img {
  opacity: calc(0.1 + (var(--active-lerp, 0) * 0.9));
  filter: grayscale(calc(1 - var(--active-lerp, 0)));
}

:root {
  --lerp-0: 1;
  --lerp-1: 0.5787037;
  --lerp-2: 0.2962963;
  --lerp-3: 0.125;
  --lerp-4: 0.037037;
  --lerp-5: 0.0046296;
  --lerp-6: 0;
}

#gallery-page a {
  outline-offset: 4px;
}

#gallery-page li {
  flex: calc(0.1 + (var(--active-lerp, 0) * 1));
  transition: flex 0.2s ease;
}

#gallery-page li:is(:hover, :focus-within) {
  --active-lerp: var(--lerp-0);
  z-index: 7;
}
#gallery-page li:has( + li:is(:hover, :focus-within)),
#gallery-page li:is(:hover, :focus-within) + li {
  --active-lerp: var(--lerp-1);
  z-index: 6;
}
#gallery-page li:has( + li + li:is(:hover, :focus-within)),
#gallery-page li:is(:hover, :focus-within) + li + li {
  --active-lerp: var(--lerp-2);
  z-index: 5;
}
#gallery-page li:has( + li + li + li:is(:hover, :focus-within)),
#gallery-page li:is(:hover, :focus-within) + li + li + li {
  --active-lerp: var(--lerp-3);
  z-index: 4;
}
#gallery-page li:has( + li + li + li + li:is(:hover, :focus-within)),
#gallery-page li:is(:hover, :focus-within) + li + li + li + li {
  --active-lerp: var(--lerp-4);
  z-index: 3;
}
#gallery-page li:has( + li + li + li + li + li:is(:hover, :focus-within)),
#gallery-page li:is(:hover, :focus-within) + li + li + li + li + li {
  --active-lerp: var(--lerp-5);
  z-index: 2;
}
#gallery-page li:has( + li + li + li + li + li + li:is(:hover, :focus-within)),
#gallery-page li:is(:hover, :focus-within) + li + li + li + li + li + li {
  --active-lerp: var(--lerp-6);
  z-index: 1;
}
